<!doctype html>
<html ng-app="Budgeter">
<head>
    <title> Budgeter </title>
    <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="Styles\Site.css">
    <link rel="stylesheet" href="bower_components\ng-notifications-bar\dist\ngNotificationsBar.min.css">
    <base href="/">
    <!--Angular-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
    <!--Dependencies-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="bower_components\ng-notifications-bar\dist\ngNotificationsBar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <!--Factories-->
    <script src="Scripts\Factories\ForecastMgr.js"></script>
    <script src="Scripts\Factories\AuthFactory.js"></script>
    <script src="Scripts\Factories\TransactionMgr.js"></script>
    <script src="Scripts\Factories\TransactionValueMgr.js"></script>
    <script src="Scripts\Factories\BudgetMgr.js"></script>
    <script src="Scripts\Models\clsTransaction.js"></script>
    <script src="Scripts\Models\clsTransactionValue.js"></script>
    <script src="Scripts\Models\clsBudgetModel.js"></script>
    <!--Controllers-->
    <script src="Scripts\Controllers\AuthController.js"></script>
    <script src="Scripts\Controllers\TransactionListController.js"></script>
    <script src="Scripts\Controllers\forecastController.js"></script>
    <!--Directives-->
    <script src="Scripts\Directives\forecastControls.js"></script>
    <script src="Scripts\Directives\StackedBar.js"></script>
    <script src="Scripts\Directives\transactionValueEditor.js"></script>
    <script src="Scripts\Directives\transactionEditor.js"></script>
    <script src="Scripts\Directives\transactionValue.js"></script>
    <script src="Scripts\Directives\gridByMonth.js"></script>
    <script src="Scripts\Directives\Transaction.js"></script>
    <!--Services-->
    <script src="Scripts\Services\DateParser.js"></script>
    <script src="Scripts\Services\SessionService.js"></script>
    <script src="Scripts\Services\TransListDropdowns.js"></script>
    <script src="Scripts\Services\forecastParams.js"></script>
    <script src="Scripts\Budgeter.js"></script>
</head>
<body>
    <!--Header-->
    <header class="NavBar clearfix" ng-if="!loggedIn()" ng-controller="AuthController as authCtrl">
      <div class="loginpanel">
          <a href="" ng-if="!authCtrl.loggedIn()" ng-click="authCtrl.openModal()">Sign In</a>
          <a href="" ng-if="authCtrl.loggedIn()" ng-click="authCtrl.logOut()">Sign Out</a>
      </div>
    </header>
    
    <div notifications-bar class="notifications"></div>
    
    <main>
        <!--FORECAST-->
      <section class="forecast col-lg-8">
          <div forecast-controls></div>
      </section>

      <!-- Transactions table -->
      <section class="col-lg-4 col-sm-12 transactionlistcontainer" ng-controller="TransactionListController">
          <ul class="list-group transactionlist">
              <li class="list-group-item transactionstitle clearfix">
                  <h5>Recurring transactions</h5>
                  <!--ADD button-->
                  <div class="button-round hvr-pop" ng-show="!addMode && !transactionhasfocus" ng-click="expandAddTransaction()"><i>+</i></div>
                  <!-- NEW TRANSACTION FORM-->
                  <form transaction-editor ng-if="addMode" trans="newTransactionForm" cancel="cancelNewTransaction" add="postTransaction" freqs="Frequencies" types="TransactionTypes"> </form>
                  <li transaction ng-repeat="trans in ::transactions" ng-if="!addMode"></li>
              </li>
          </ul>
      </section>
    </main>
</body>
<footer></footer>
</html>
