<div class="forecastcontainer">  
   <div class="forecastTitle boxtitle">
      <span>Forecast for {{fCtrl.forecastParams.startdate | date:"longDate":"UTC"}} - {{fCtrl.forecastParams.enddate | date:"longDate" : "UTC" }} (starting balance: ${{fCtrl.forecastParams.startbal}}) </span>
      <i ng-click="fCtrl.showParameters()" class="glyphicon glyphicon-pencil"></i>
   </div>
   
   <div class="form-inline forecastparameters" ng-show="fCtrl.parametersOn">
      <div class="form-group form-inline">
         <input type="date" class="input-xs-flat" ng-model="fCtrl.forecastParams.startdate" min-date="minDate" ng-required="true">
         <input type="date" class="input-xs-flat" ng-model="fCtrl.forecastParams.enddate" min-date="minDate" ng-required="true">
         <input type="number" class="input-xs-flat" ng-model="fCtrl.forecastParams.startbal" step="100" id="startbal" placeholder="Enter your current balance">
         <button type="button" class="btn btn-primary btn-xs" ng-click="fCtrl.refresh()"><i class="glyphicon glyphicon-refresh"></i></button>
         <label for="graphview">Graph View</label>
         <input id="graphview" type="radio" name="content" ng-model="fCtrl.forecastview" value="graph">
         <label for="tableview">Table View</label>
         <input id="tableview" type="radio" name="content" ng-model="fCtrl.forecastview" value="table">
      </div>
   </div>
      
   <div ng-show="fCtrl.forecastview=='graph'">
      <stacked-bar class="graphcontainer clearfix" params="fCtrl.forecastParams"></stacked-bar>
   </div>
      <!--TABLE-->
   <div ng-show="fCtrl.forecastview == 'table'">
      <grid-by-month class="gridByMonth"></grid-by-month>
   </div>
</div>'

