<ul class="transactionlist list-group">
	<li class="list-group-item transactionstitle clearfix">
		<h5>Recurring transactions</h5>
		<!--ADD button-->
		<div class="button-round hvr-pop" ng-show="!tListCtrl.listmgr.addMode && !tListCtrl.transactionhasfocus" ng-click="tListCtrl.expandAddTransaction()"><i>+</i></div>
			<!-- NEW TRANSACTION FORM-->
			<form transaction-editor ng-if="tListCtrl.listmgr.addMode" </form>
		<!--the transactions -->
	</li>
	<transaction class="embed transaction list-group-item clearfix" listmgr="tListCtrl.listmgr" index="$index" trans="trans" ng-repeat="trans in ::tListCtrl.transactions"></transaction>
</ul>